html, body {
    height: 100%;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: 300;
}

h1 {
    color: #00a8a8;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    margin: unset;
}

h2 {
    color: #00a8a8;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}

h3 {
    color: #00a8a8;
    font-size: 1.25rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3rem;
}

.container {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    ". main main ."
    "footer footer sidebar sidebar";
}

.header {
    grid-area: header;
    padding: 1rem;
    border-bottom: #00a8a8 2px solid;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.sticky-top {
    position: sticky;
    top: 0;
    background: white;
}

.sticky-bottom {
    position: sticky;
    bottom: 0;
    background: white;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 2.5rem;
}

.category {
    display: block;
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    cursor: pointer;
    transition: 0.1s;
    font-size: 1rem;
    padding: 0.25rem;
}

.category:hover {
    font-weight: 400;
    font-size: 1.125rem;
    color: #00a8a8;
    animation: fade 2s linear;
}

.content {
    grid-area: main;
    padding: 1rem;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 1rem;
}

.footer {
    padding: 1rem;
    grid-area: footer;
}


.book-container {
    display: flex;
    flex-direction: column;
}

.book {
    display: flex;
    flex-direction: column;
}

.book-image {
    width: 8rem;
    height: 12rem;
    display: block;
    padding: 0.5rem;
    margin-right: 1rem
}

.book-content {
    display: flex;
    flex-direction: column;
    line-break: auto;
}

@media screen and (min-width: 720px) {
    .book {
        flex-direction: row;
        align-items: center;
    }
}
